.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*.round_table {
                    border-collapse:separate;
                    border-spacing: 10;
                    border:solid black 1px;
                    border-radius:10px;
                    -moz-border-radius:10px;
                    -webkit-border-radius: 5px;    
                }*/



a {
  color: #5D6975;
  text-decoration: underline;
}

body {
  position: relative;
  width: 21cm;  
  height: 29.7cm; 
  margin: 0 auto; 
  color: #001028;
  background: #FFFFFF; 
  font-family: Arial, sans-serif; 
  font-size: 12px; 
  font-family: Arial;
}

header {
  padding: 10px 0;
  margin-bottom: 1px;
}



table {
  width: 100%;
  border-collapse: collapse;

  border-spacing: 0;
  margin-bottom: 20px;
}



table th,
table td {
  text-align: center;
}

table th {
  padding: 5px 10px;
  color: #5D6975;

  white-space: nowrap;        
  font-weight: normal;

}

table .service,
table .desc {
  text-align: center;
}
table .negrita
{
  text-decoration: #001028;  
}

table td {
  padding: 5px;
  text-align: right;
}

table td.service,
table td.desc {
  vertical-align: top;
}



table td.grand {
  border-top: 1px solid #5D6975;;
}

#notices .notice {
  color: #5D6975;
  font-size: 1.2em;
}

footer {
  color: #5D6975;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #C1CED9;
  padding: 8px 0;
  text-align: center;
}